---
const personalImageAlt = "Brandon Diaz"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import Curriculum from "@/components/icons/Curriculum.astro"
import SocialPill from "@/components/SocialPill.astro"

import "@fontsource/orbitron/400.css"
import "@fontsource/orbitron/600.css"
import "@fontsource/orbitron/800.css"

import t from 'astro-i18next';

---


<div class="w-full min-h-screen flex flex-col justify-center items-center text-center px-8 font-orbitron">
  <!-- PLANETA ADIUM -->
  <h1 class="text-6xl sm:text-3xl font-extrabold text-[#b3141d] tracking-widest tracking-[0.3em] dark:text-white">
    PLANETA ADIUM
  </h1>

  <!-- GEN A26 -->
  <h2 class="text-6xl sm:text-8xl font-extrabold text-[#b3141d] tracking-[0.15em]  border-b-4 border-[#b3141d] py-2 mt-2">
    GEN A26
  </h2>

  <!-- EVOLUCIÓN SIN LÍMITES -->
  <p class="mt-4 text-xl sm:text-2xl font-semibold tracking-widest text-[#27427a]">
    EVOLUCIÓN SIN LÍMITES
  </p>
</div>

